graft images
graft docker
graft docs
graft src
graft tests

prune .github

include .editorconfig
include mkdocs.yml

include AUTHORS.md
include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include LICENSE
include README.md
include requirements.txt

include requirements-dev.txt tasks.py

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
