graft images
graft docker
graft docs
graft src
graft tests

prune .github

include .editorconfig

include AUTHORS.rst
include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

include requirements-dev.txt tasks.py

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
